{# src/ozyx/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur la page de suppression d'une annonce!</title>
  </head>
  <body>
    <h1>Suppression d'une annonce</h1>
    <p>
      Ici nous pourrons supprimer l'annonce ayant comme id : {{ id }}<br />
    </p>
  </body>
</html>