{# src/ozyx/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur la page d'index</title>
  </head>
  <body>
    <h1>Page d'index</h1>
  </body>
</html>